astropy>=6.0
beautifulsoup4>=4.0
black>=24.0
build>=1.1.0
drms>=0.8.0
flake8>=7.2
matplotlib>=3.7.0
numpy>=2.1.0
numpydoc>=1.8
pandas>=2.1
parfive>=2.0
portion>=2.4
pre-commit>=4.0
pytest>=8.0
pytest-cov>=6.0
requests>=2.30
scikit-image>=0.20
scipy>=1.14
setuptools>=76.0.0
setuptools_scm[toml]>=9.0
Sphinx>=6.2,<7.0
sphinx-rtd-theme>=1.2.0
sunpy-soar>=1.10
sunpy[map]>=6.0
towncrier>=24.0.0
twine>=5.0
zeep>=4.0
